body {
  font-family: "Dosis", sans-serif; }

/* Home Page Style */
.wed-home-page {
  background: url("../images/home-img.jpg") no-repeat center center;
  background-size: cover;
  background-position: 40% 30%;
  height: 90vh;
  min-height: 480px;
  max-height: 1080px; 
}
  .wed-home-page .wed-wedding-announcement {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 70%;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    letter-spacing: 2px; }
    .wed-home-page .wed-wedding-announcement .wed-announcement-container {
      max-width: 600px;
      text-align: center;
      margin-left: 10;
      z-index: 999; }
    .wed-home-page .wed-wedding-announcement img {
      max-height: 350px;
      width: auto; }
      @media (max-width: 480px) {
        .wed-home-page .wed-wedding-announcement img {
          max-height: 250px;
          width: auto; } }
    .wed-home-page .wed-wedding-announcement .wed-couple-name {
      font-size: 90px; }
      @media (max-width: 576px) {
        .wed-home-page .wed-wedding-announcement .wed-couple-name {
          font-size: 50px; } }

.wed-home-page:before {
  content: "";
  /* background-color: rgba(245, 138, 119, 0.2); */
  width: 100%;
  height: 100%;
  height: 100vh;
  min-height: 480px;
  max-height: 1080px;
  position: absolute;
  left: 0;
  top: 0; }

/* Nav Bar Style */
.wed-nav-bar .heart {
  fill: #f26147;
  position: relative;
  top: 2px;
  width: 40px;
  -webkit-animation: pulse 1s ease infinite;
          animation: pulse 1s ease infinite; }

@-webkit-keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

.wed-nav-bar .nav-item {
  font-size: 18px;
  padding: 5px 0 5px 16px;
  font-weight: 500; }

/* Wedding Event Style */
.wed-wedding-event ul {
  list-style: none;
  padding-left: 0; }

.wed-wedding-event a.map {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer; }

/* Photo Gallery Style */
.wed-photo-gallery .wed-category-filter a {
  display: inline-block;
  margin: 0 10px 6px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px; }

.wed-photo-gallery .wed-gallery {
  min-height: 500px; }

.wed-photo-gallery .card-columns .card {
  border: none;
  margin-bottom: 15px;
  border-radius: none; }

@media (max-width: 992px) {
  .wed-photo-gallery .card-columns {
    -moz-column-count: 2;
         column-count: 2; } }

@media (max-width: 576px) {
  .wed-photo-gallery .card-columns {
    -moz-column-count: 1;
         column-count: 1; } }

/* Wedding Party Style */
.bg-light {
  background-color: #dde6eb !important; }

.bg-dark {
  background-color: lavenderblush !important; }

/* RSVP Style */
.wed-rsvp-detail {
  /* background: url("../images/rsvp-img.jpg") no-repeat center center; */
  background-color: lavenderblush;
  background-size: cover;
  min-height: 500px;
  position: relative; }
  .wed-rsvp-detail .wed-rsvp-form {
    padding-left: 20%; }
    @media (max-width: 768px) {
      .wed-rsvp-detail .wed-rsvp-form {
        padding-left: 10%; } }
    @media (max-width: 576px) {
      .wed-rsvp-detail .wed-rsvp-form {
        padding-left: 0%; } }
    .wed-rsvp-detail .wed-rsvp-form .form-control {
      background-color: rgba(222, 222, 222, 0.2);
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.6); }
    .wed-rsvp-detail .wed-rsvp-form .form-control::-moz-placeholder {
      color: #dedede; }
    .wed-rsvp-detail .wed-rsvp-form .form-control:-ms-input-placeholder {
      color: #dedede; }
    .wed-rsvp-detail .wed-rsvp-form .form-control::placeholder {
      color: #dedede; }
    .wed-rsvp-detail .wed-rsvp-form select.form-control option {
      background: rgba(0, 0, 0, 0.3);
      color: #fff; }
    .wed-rsvp-detail .wed-rsvp-form .btn-submit {
      background-color: rgba(245, 138, 119, 0.8);
      padding: 0.45rem 1.5rem;
      border: 0; }

.wed-rsvp-detail:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

/* Footer Style */
.wed-footer {
  background-color: lavenderblush;
  /* padding: 20px 0;  */
}

.wed-footer a.credit {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer; }

/* Common Style */
.wed-title {
  font-family: "Great Vibes", cursive; 
  
}

.wed-section {
  padding: 100px 0; }

.btn-primary {
  color: #fff; }

.btn-outline-primary:hover {
  color: #fff; }

/* Dress code color */
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000; 
  display: inline-block;
  margin-right: 5px; }

.dress-code-beige {
  background-color: #eed9c4; }
.dress-code-purl {
  background-color: #9f8dc9; }
.dress-code-cerlurean {
  background-color: #4c91e6
}
.dress-code-black {
  background-color: #000000;
}

.left {
  float: right;
  text-align: right;}

.vl {
  background: linear-gradient(gray, gray) no-repeat center/2px 100%;
  opacity: 50%;
}
.ascii-art {
  font-family: monospace !important;
  opacity: 0.5;
  font-size: 9px;
  line-height: 100%;
  /* white-space: pre; */
}